<tr class='newRace' {{#if id}}data-id="{{id}}"{{/if}}>
    <td>
        <div class='form-group'>
            <div class='input-group dtp' id='dtp_newRaceDate' data-target-input='nearest'>
                <input type='text' class='form-control raceDate datetimepicker-input' placeholder='Race Date' data-target="#dtp_newRaceDate" {{#if date}}value="{{date}}"{{/if}} autocomplete='off' />
                <span class='input-group-addon' data-toggle='datetimepicker' data-target="#dtp_newRaceDate">
                    <i class='fa fa-calendar'></i>
                </span>
            </div>
        </div>
    </td>
    <td>
        <div class='form-group'>
            <input type='text' class='form-control raceCategory' placeholder='Category' {{#if category}}value="{{category}}"{{/if}} autocomplete='off' />
        </div>
    </td>
    <td class='raceLegCount'>{{#if legCount}}{{legCount}}{{/if}}</td>
    <td>
        <span class='d-flex justify-content-end'>
            <span class='saveNewRace text-success p-2'>
                <i class='fa fa-save fa-2x'></i>
            </span>
        </span>
    </td>
</tr>
