div.row
    div.col
        h2 Events
    div.col.clearfix
        button.btn.btn-primary.float-right(data-target='#addEvent' data-toggle='modal') Add Event
div.row
    div.col
        div#eventList
div#addEvent.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addEventLabel' aria-hidden='true')
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
                h4#addEventLabel.modal-title.mt-0 Add New Event
            div.modal-body
                div#form-body
                    div#mainPanel 
                        div.row
                            div.col
                                div.form-group
                                    label Start Date
                                    div#dtp_newStartDate.input-group.dtp(data-target-input='nearest')
                                        input#newEventStart.form-control(type='text' data-target='#dtp_newStartDate' autocomplete='off').datetimepicker-input
                                        span.input-group-addon(data-target='#dtp_newStartDate' data-toggle='datetimepicker')
                                            i.fa.fa-calendar
                            div.col
                                div.form-group
                                    label End Date
                                    div#dtp_newEndDate.input-group.dtp(data-target-input='nearest')
                                        input#newEventEnd.form-control(type='text' data-target='#dtp_newEndDate' autocomplete='off').datetimepicker-input
                                        span.input-group-addon(data-target='#dtp_newEndDate' data-toggle='datetimepicker')
                                            i.fa.fa-calendar
                            div.col
                                div.form-group
                                    label Location
                                    input#location.form-control(type='text' autocomplete='off')
                        div.row.mt-3
                            div.col 
                                div.card
                                    div.card-header.d-flex.justify-content-between
                                        h5.card-title Races
                                        span
                                            button.btn.btn-primary.btn-simple.addRace
                                                i.fa.fa-plus
                                                | &nbsp;Add Race
                                    div.card-block.p-0(style='min-height: 400px;')
                                        table#races.table.w-100
                                            thead
                                                tr
                                                    th Date
                                                    th Category
                                                    th Legs
                                                    th  
                                            tbody.list
                    div#legsPanel.hidden
            div.modal-footer
                button.btn.btn-default.btn-simple(data-dismiss='modal') Cancel
                button.btn.btn-info.btn-simple.addEvent Create
script(type='text/javascript' src='/assets/js/events.js')
